Repository Goboolean/infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: projects/gcp, projects/core, projects/core/config

projects/gcp:
  dir: projects/gcp
  workflow: default

projects/core:
  dir: projects/core
  workflow: default

projects/core/config:
  dir: projects/core/config
  workflow: default

feat: create github team module (#209)
  modules/github/repository/main.tf
  modules/github/team/main.tf
  projects/github/main.tf
  projects/github/provider.tf
Due: projects/gcp, projects/core, projects/core/config

feat: create airflow-dags repository
  modules/github/repository/main.tf
  modules/github/team/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: wip
  modules/github/repository/main.tf
  modules/github/team/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: wip
  modules/github/repository/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: create airflow-dags repository (#210)
  modules/github/repository/main.tf
  modules/github/team/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: reconstruct infra module
  projects/core/config/main.tf
  projects/core/config/terraform.tfvars
  projects/core/main.tf
  projects/core/provider.tf
  projects/core/terraform.tfvars
  projects/k8s/base/istio-system.json
  projects/k8s/infra/configs/main.tf
  projects/k8s/infra/configs/providers.tf
  projects/k8s/infra/configs/variables.tf
  projects/k8s/infra/deployments/main.tf
  projects/k8s/infra/deployments/provider.tf
  projects/k8s/infra/deployments/variables.tf
Due: projects/core, projects/core/config

feat: inject argocd password outside
  modules/infra/argocd/main.tf
  modules/infra/argocd/values.yaml
  modules/infra/argocd/variables.tf
  projects/infra/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: remove moved directory
  projects/infra/main.tf
  projects/infra/provider.tf
  projects/infra/terraform.tfvars
  projects/infra/variables.tf
Due: none

feat: inject argocd password outside (#212)
  modules/infra/argocd/main.tf
  modules/infra/argocd/values.yaml
  modules/infra/argocd/variables.tf
  projects/infra/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: reconstruct infra module (#211)
  projects/core/config/main.tf
  projects/core/config/terraform.tfvars
  projects/core/main.tf
  projects/core/provider.tf
  projects/core/terraform.tfvars
  projects/infra/terraform.tfvars
  projects/infra/variables.tf
  projects/k8s/base/istio-system.json
  projects/k8s/infra/configs/main.tf
  projects/k8s/infra/configs/providers.tf
  projects/k8s/infra/configs/variables.tf
  projects/k8s/infra/deployments/main.tf
  projects/k8s/infra/deployments/provider.tf
  projects/k8s/infra/deployments/variables.tf
  projects/k8s/vault/configs/provider.tf
Due: projects/core, projects/core/config

wip
  modules/gcp/iam/main.tf
  projects/k8s/infra/deployments/main.tf
Due: projects/gcp, projects/core, projects/core/config

wip (#213)
  modules/gcp/iam/main.tf
  projects/k8s/infra/deployments/main.tf
Due: projects/gcp, projects/core, projects/core/config

fix: add argocd secret
  modules/infra/argocd/output.tf
  projects/k8s/infra/deployments/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: change metric names
  modules/infra/kafka/kafka-jmx-config.yaml
  modules/infra/kafka/kafka-values.yaml
  modules/infra/kafka/main.tf
Due: projects/gcp, projects/core, projects/core/config

kafka jmx metric name 수정 (#216)
  modules/infra/argocd/output.tf
  modules/infra/kafka/kafka-jmx-config.yaml
  modules/infra/kafka/kafka-values.yaml
  modules/infra/kafka/main.tf
  projects/k8s/infra/deployments/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: github workload identity
  modules/gcp/iam/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: disable atlantis temporarily
  atlantis.yaml
Due: none

feat: add required apis
  modules/gcp/service/main.tf
Due: projects/gcp, projects/core, projects/core/config

feat: github workload identity (#224)
  atlantis.yaml
  modules/gcp/iam/main.tf
  modules/gcp/service/main.tf
Due: projects/gcp, projects/core, projects/core/config

Path conditions:
  projects/gcp: any of: projects/gcp/*.tf, projects/gcp/*.yaml, projects/gcp/*.json, modules/**/*.tf, modules/**/*.yaml, modules/**/*.json
  projects/core: any of: projects/core/*.tf, projects/core/*.yaml, projects/core/*.json, modules/**/*.tf, modules/**/*.yaml, modules/**/*.json
  projects/core/config: any of: projects/core/config/*.tf, projects/core/config/*.yaml, projects/core/config/*.json, modules/**/*.tf, modules/**/*.yaml, modules/**/*.json
